/* Warna hitam untuk background sidebar */
.sidebar-dark-custom {
  background-color: #5C5353 !important; /* Warna hitam */
  color: #ffffff !important;           /* Warna teks putih */
}

/* Warna link sidebar */
.sidebar-dark-custom .nav-sidebar .nav-link {
  background-color: transparent !important; /* Background transparan untuk link */
  color: #ffffff !important;               /* Warna teks aksen */
}

/* Warna link saat hover */
.sidebar-dark-custom .nav-sidebar .nav-link:hover {
  background-color: #7D9DA5 !important; /* Warna hover */
  color: #ffffff !important;            /* Warna teks putih saat hover */
}

/* Warna link aktif */
.sidebar-dark-custom .nav-sidebar .nav-link.active {
  background-color: #5AADC2 !important; /* Warna background aktif */
  color: #ffffff !important;            /* Warna teks putih untuk link aktif */
}
